In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("basic").getOrCreate()

In [3]:
df = spark.read.json("people.json")

In [4]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [7]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [9]:
df.columns

['age', 'name']

In [10]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [11]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

下面介绍一种定义好schema的倒入方式

In [4]:
from pyspark.sql.types import (StructType, StructField,
                               StringType, IntegerType)

In [5]:
data_schema = [StructField('age', IntegerType(), True),
               StructField('name', StringType(), True)]

In [6]:
final_struct = StructType(fields=data_schema)

In [7]:
df = spark.read.json("people.json", schema=final_struct)

In [8]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [9]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [10]:
type(df['age'])

pyspark.sql.column.Column

In [11]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

选择前2行

In [12]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

选择多列

In [14]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

根据有的column创建新的列

In [15]:
df.withColumn('double_age', df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

使用SQL来操作数据集

In [16]:
df.createOrReplaceTempView('people')

In [17]:
res = spark.sql('SELECT name from people')

In [18]:
res.show()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

In [19]:
one_res = spark.sql("SELECT *FROM people WHERE AGE=30")

In [20]:
one_res.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+